@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Attila';
  src: url('../fonts/AttilaSansSharpTrial-Bold.otf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

svg {
  color: pink;
}

.filter1 {
  filter: invert(45%) sepia(44%) saturate(3298%) hue-rotate(349deg) brightness(98%) contrast(94%);
}

.filter2 {
  filter: invert(94%) sepia(94%) saturate(872%) hue-rotate(164deg) brightness(98%) contrast(85%);
}

.filter3 {
  filter: invert(87%) sepia(35%) saturate(3375%) hue-rotate(358deg) brightness(100%) contrast(104%); 
}

.filter4 {
  filter: invert(46%) sepia(94%) saturate(399%) hue-rotate(140deg) brightness(90%) contrast(97%);
}

.filter5 {
  filter: invert(45%) sepia(44%) saturate(3298%) hue-rotate(349deg) brightness(98%) contrast(94%);
}

/* For homepage only */

nav > a {
  color: white;
  font-family: "Attila";
  @apply text-lg tracking-wider;
}

nav > a:hover {
  color: black;
  @apply filter2;
}

.logo {
  filter: invert(97%) sepia(31%) saturate(2669%) hue-rotate(166deg) brightness(95%) contrast(89%);
}

i[class^="gg-"] {
  color: white;
  box-sizing: border-box;
  position: relative;
  display: block;
  --ggs: 2;
}